absl-py==1.0.0
asgiref==3.5.2
astunparse==1.6.3
boto3==1.9.96
botocore==1.12.96
cachetools==5.0.0
certifi==2018.10.15
chardet==3.0.4
charset-normalizer==2.0.12
distlib==0.3.5
dj-database-url==0.5.0
Django==2.1
django-crispy-forms==1.7.2
django-heroku==0.3.1
django-storages==1.7.1
docutils==0.14
filelock==3.7.1
flatbuffers==2.0
gast==0.5.3
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.0
gunicorn==19.9.0
h5py==3.6.0
idna==2.7
jmespath==0.9.3
libclang==14.0.1
Markdown==3.3.7
mtcnn==0.1.1
numpy==1.23.1
oauthlib==3.2.0
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
opt-einsum==3.3.0
Pillow==9.1.0
platformdirs==2.5.2
protobuf==3.20.1
psutil==5.9.1
psycopg2==2.8.6
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dateutil==2.8.0
pytz==2018.5
requests
requests-oauthlib
rsa==4.8
typing_extensions==4.2.0
tzdata==2022.1
urllib3==1.23
virtualenv==20.16.2
Werkzeug==2.1.2
whitenoise==4.1.2
wrapt==1.14.1